BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AlignEscapedNewlines: Left
ReferenceAlignment: Left
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlignTrailingComments: true
AlignConsecutiveMacros: Consecutive
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Middle
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlinesLeft: true
